recipes/u-boot/u-boot-omap3-z3-git
recipes/u-boot/u-boot-omap3-evm-git
recipes/linux/linux-omap3-z3-2.6.37-git
recipes/linux/linux-omap3-evm-2.6.37-git
recipes/rr-rtsp-server/rr-rtsp-server-git
recipes/ubl/ubl-git
recipes/system-configs/system-configs-git
recipes/system-security/system-security-git
recipes/system-update/system-update-git
recipes/build-scripts/build-scripts-git

